body {
    overflow: hidden;
    box-sizing: border-box;
  }
.con{
    display: flex;
}
.gambar{
    object-fit: cover;
}

.con-gambar {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .judul-auth{
    font-size: 60px;
  }


@media screen and (min-width:0px) and (max-width:1000px){
.gambar{
    display: none;
}
.form{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
}

@media screen and  (min-width:1000px){
    .gambar{
        width: 800px;
        object-fit: cover;
        margin-right: 400px;
    }
    .form{
        width: 80%;
        padding: 150px 100px 0px 100px;
    }
}


@media screen and (min-width:1600px){
.gambar{
    width: 1300px;
    object-fit: cover;
    margin-right: 300px;
}
.form{
    width: 80%;
    padding: 100px 300px 0px 300px;
}
}
  
 